<div class='container-fixed'>
	<div class='page_wrapper well well-lg'>
		<h1><span id='abo'>ABOUT US</span></h1>
		<article>
			<p>Code Mee is a nice theoretical web design workflow, designers have complete control over content and the progression of the design. In the real world, those who pay designers demand mockups before providing content. Perhaps there’s a paragraph of legal copy that the designer needs to consider in the layout but won’t actually receive from the legal department until much further down the road. Or maybe the PHP guy needs to test his new page generating script simply to see if it works. There’s also the consideration of blog template designers, who do in fact need to design content containers that work for a variety of different purposes.

				My point is, think twice about using filler content when you have the power to do otherwise but don’t hesitate to realize that there are legitimate situations where tossing in some placeholder copy won’t represent the utter destruction of the integrity of the design industry.

				With that argument out of the way, we can get to the good stuff! Here are 30 awesome placeholder content generators.That being said, saying that there’s absolutely no need for filler text is definitely shortsighted. From the small perspective that McGarvey frames the argument, he’s right. However, if we take a step back, we can see that there are still tons of possible and legitimate uses for lorem ipsum</p>
			</article>
		</div>
	</div>
