<div class="container">
	<div class='row well well-xs'>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 id='cont'>Hi Friends!</h1>
				<h2 id='cont1'><i>Let us know how we can help or any good suggestions to improve your experience</i></h2>
			</div>
		</div>
	</div>
</div>
<br>
<div id="page_wrapper">
	<div id='content'>
		<h3><span id='blu'>CODE</span><span id='yel'> MEE</span></h3>
		<p>500 72nd Street</p>
		<p>Arverne.Ny 11691</p>
		<p>1800-700-2185</p>
		<p>or</p>
		<p>info@codemee.com</p>
		<p>aderoyal@codemee.com</p>
	</div>
</div>
