<div class='container'>
	<div class='row well well-lg'>
		<div class='col-md-12'>
			<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
			<h2><i>Hope you had fun with the quiz</i></h2>
			<p>If you scored below your expectation.You can always try again...click the percentage thats best fits your score below.</p>
		</div>
	</div>
</div>

<div class='container'>
	<div class='row well well-lg'>
		<div class='col-md-6'>
			<h5>BELOW <span id='abo'><strong>20%  </strong></span><a href='fun1'  id= 'bee' type='button' class='btn btn-lg btn-danger'> Click Me!</a></button>  hey! Don't give up. You can always do better next time</h5>

			<h5>BELOW <span id='abo'><strong>35%  </strong></span><a href='fun2'  id= 'bee' type='button' class='btn btn-lg btn-danger'>Click Me!</a></button>  hey! Don't give up. You can always do better next time</h5>

			<h5>BELOW <span id='abo'><strong>50%  </strong></span><a href='fun3'  id= 'bee' type='button' class='btn btn-lg btn-danger'>Click Me!</a></button>  hey! Don't give up. You can always do better next time</h5>
		</div>
		<h5> BELOW <span id='blu'><strong>70% </strong></span><a href='fun4'  id= 'bee' type='button' class='btn btn-lg btn-warning'>Click Me!</a></button>  hey! Don't give up. You can always do better next time</h5>
		

		<h5>BELOW <span id='plu'><strong>90% </strong></span><a href='fun5'  id= 'bee' type='button' class='btn btn-lg btn-info'>Click Me!</a></button>  hey! Don't give up. You can always do better next time</h5>
		
		<h5>WOW A<span id='blu'><strong>100% or below</strong></span><a href='fun6'  id= 'bee' type='button' class='btn btn-lg btn-success'>Click Me!</a></button>  Congratulations You deserve a medal!</h5>
		
		




