<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>ONE</P>
				<img id='victor' src='img/victor.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>Master V Wang</span>... aka V for Volts</h1>
					<p>Master Wang is well known for his ancient technique in coding. He and only afew others(Julie) can set you on your coding journey</p>
				</div>
			</div>
		</div>
	</div>