<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>TWO</P>
				<img id='lollipop' src='img/lollipopkatana.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>Lollipop Man</span></h1>
					<p>Lollipop Man is a known graphic designer/Samorai/Ladies' man. Loved bykids all over the world. He only comes to help when you are stuck seeking a syntax wrong that wont let you proceed. <span id='abo'>"Do You Want A Lollipop?!"</span></p>
				</div>
			</div>
		</div>
	</div>