<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>THREE</P>
				<img id='john' src='img/johnwolfetattoo.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>John Wolfe</span>...aka Blade</h1>
					<p>John Wolfe is an action figure from California. He is known as Blade for his ability to dissect a coding problem. He says if he is president. All american men would grow a beard</p>
				</div>
			</div>
		</div>
	</div>