<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>FOUR</P>
				<img id='john' src='img/orlando.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>Orlando Caraballo</span></h1>
					<p>
						Orlando Caraballo grew up to be a coding scholar.Winning a Global Noble peace award for his great apps and ideas. He will forever be remembered as "<span id='abo'>Orando The Great</span>"
					</p>
				</div>
			</div>
		</div>
	</div>