<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>FIVE</P>
				<img id='baby' src='img/toughbaby.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>New Gradulate</span></h1>
					<p>
						This is me after watching one of brian's videos "<span id='abo'>ShoooRyuuKEEN!!</span>"
					</p>
				</div>
			</div>
		</div>
	</div>