<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h1><span id='blu'>F</scan><span id='abo'>U</span><span id='yel'>N</span> <span id='whi'>I</span><span id='abo'>M</span><span id='yel'>A</span><span id='blu'>G</span><span id='whi'>E</span><span id='abo'>S</span></h1>
				<P>SIX</P>
				<img id='baby' src='img/startup1.jpg' alt='master' />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h1><span id='blu'>YOU ARE AWESOME</span></h1>
					<p>
						You make this look easy. Obviously you have put in alot of practise time into mastering your skills. You are welcome to try <span id='abo'>QUIZ 2</span>
					</p>
				</div>
			</div>
		</div>
	</div>