<!DOCTYPE html>
<html>
<head>
	<title>Code Mee!!</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href='css/main.css' rel='stylesheet'>
</head>
<body>
	<div class='navbar navbar-default navbar-static-top '>
		<div class='container'>

			<div class='navbar-header'>
				<a href='index' class='navbar-brand'><span id='blu'>CODE</span><span id='yel'>MEE</span></a>

				<button type='button' class='navbar-toggle' data-toggle='collapse'

				data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>

		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<li><a href= 'index'>Home</a></li>
			<li class='divider'></li>

			<li><a href='play'>Play</a></li>
			<li class='divider'></li>

			<li><a href='contact'>contact</a></li>
			<li class='divider'></li>
			<li class-'open'><a href='#' data-toggle='dropdown'>About<scan class='caret'></scan></a>
				<ul class='dropdown-menu'>
					<li><a href='contact'>Contact Us</a></li>
					<li class='divider'></li>
					<li><a href='#'>Blog</a></li>
					<li class='divider'></li>
					<li><a href='http://facebook.com'>Fcebook</a></li>
				</ul>
			</li>

		</ul>


	</div>
</div>


</header>

<%= yield %>

<br>
<br>
<br>


<hr>
<div class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-3 '>
				<h4>What is Code Mee?</h4>
				<p><i>Code Mee is the most fun way to learn how to code and have fun doing it.</i> <a href="play"><span id='abo'>Play Now</span></a></p>
				<p><a href="quiz">Compare Scores With Friends<i class='glyphicon glyphicon-arrow-right'></i></a></p>
			</div>

			<div class='col-md-2 col-md-offset-1'>
				<h4>Links</h4>
				<ul class='list-unstyled'>
					<li><a href="index">Home</a></li>
					
					<li><a href='about'>About</a></li>
					<li><a href='quiz'>Test your skills</a></li>
				</ul>
			</div>

			<div class='col-md-2'>
				<h4>Stay in Touch</h4>
				<ul class='list-unstyled'>
					<li><a href="about">About</a></li>
					<li><a href="contact">Contact Us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="http://facebook.com/">Facebook</a></li>
				</ul>
			</div>

			<div class='col-md-3 col-md-offset-1'>
				<h4>Contact Us</h4>
				<ul class='list-unstyled'>
					<li><i class='glyphicon glyphicon-globe'></i>500 72nd st.Arverne, NY</li>
					<li><i class='glyphicon glyphicon-phone'></i>1-800-CODE-MEE</li>
					<li><i class='glyphicon glyphicon-envelope'></i><a href="#">info@codemeebaby.com</a></li>
				</ul>
				<p>Code Mee!! &copyright; 2015.</p>
			</div>
		</div>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>
