<div class='container'>
	<div class='row well well-lg'>
		<div class='col-md-6'>
			<h1><span id='reg'>Click button to start</span></h1>
			<p class="lead">Get instructions on how to play below</p>

			<a href='quiz' class='btn btn-lg btn-danger' role='button'>PLAY</button></a>
		</div>
		<div class='container'>
			<div class='col-md-6 hidden-sm hidden-xs visible-md visible-lg'>
				<img id="mmm" src='img/friends.jpg' alt='mnm' />
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class='row well well-md'>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 class="instruct"><span id='blu'>INSTRUCTIONS</span></h1>
				<ul class='list-unstyled'>
					<li><span id='blu'>1</span>. <span id='abo'>PLAY</span>: Try to answer the quiz questions    correctly to the best of your knowledge</li>
					<li><span id='blu'>2</span>. <span id='abo'>SCORES</span></li>
					<li>After getting your grade. Click on the button below the text page to see fun images based on your score. </li>
				</ul>
			</div>
		</div>
	</div>
</div>
